@charset "UTF-8";

@import "variables";

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 2.28rem !default;
$h3-fontsize: 1.96rem !default;
$h4-fontsize: 1.64rem !default;
$h5-fontsize: 1.32rem !default;
$h6-fontsize: 1rem !default;

h1 { font-size: $h1-fontsize; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; margin: ($h2-fontsize * 1.25) 0 ($h2-fontsize / 2) 0;}
h3 { font-size: $h3-fontsize; margin: ($h3-fontsize * 1.25) 0 ($h3-fontsize / 2) 0;}
h4 { font-size: $h4-fontsize; margin: ($h4-fontsize * 1.25) 0 ($h4-fontsize / 2) 0;}
h5 { font-size: $h5-fontsize; margin: ($h5-fontsize * 1.25) 0 ($h5-fontsize / 2) 0;}
h6 { font-size: $h6-fontsize; margin: ($h6-fontsize * 1.25) 0 ($h6-fontsize / 2) 0;}

header, main, footer {
    padding-left: 300px;
}

@media #{$medium-and-down} {
    header, main, footer {
        padding-left: 0;
    }
}

@media #{$large-and-up} {
    .container {
        width: 85%;
    }
}

nav.top-nav {
    box-shadow: none;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;


    h1.page-title {
        line-height: 170%;
    }

    p.subtitle {
        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.14rem 0 .912rem 0;
    }

    a.button-collapse {
        position: absolute;
        text-align: center;
        height: 48px;
        width: 48px;
        left: 7.5%;
        top: 0;
        float: none;
        margin-left: 1.5rem;
        color: #fff;
        font-size: 36px;
        z-index: 2;

        &.full {
            line-height: 122px;
        }

        i {
            font-size: 32px;
        }
    }
}

@media #{$medium-and-down} {
    nav.top-nav {
        text-align: center;
    }
}

@media #{$small-and-down} {
    nav.top-nav {
        a.button-collapse {
            left: 5%;
        }
    }
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;

    &:hover,
    #logo-container:hover {
        background-color: transparent;
    }
}

ul.side-nav.fixed {
    overflow: hidden;

    li {
        line-height: 44px;

        &.active {
            background-color: rgba(0, 0, 0, .05);
        }

        a {
            font-size: 13px;
            line-height: 44px;
            height: 44px;
            padding: 0 30px;
        }
    }

    ul.collapsible-accordion {
        background-color: #FFF;

        a.collapsible-header {
            padding: 0 30px;
        }

        .collapsible-body li a {
            font-weight: 400;
            padding: 0 37.5px 0 45px;
        }
    }

    &:hover {
        overflow-y: auto;
    }
}

.bold > a {
    font-weight: bold;
}

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

.toc-wrapper {
    margin-top: 2rem;
    position: relative;
}

nav#TableOfContents {
    background-color: initial;
    box-shadow: initial;

    li {
        line-height: 1.5rem;
        padding: 2px 0;
        float: initial;
    }

    a {
        display: inline-block;
        font-weight: 300;
        color: #757575;
        padding-left: 20px;
        height: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: .4;

        &:hover {
            color: lighten(#757575, 20%);
            padding-left: 19px;
            background-color: initial;
            border-left: 1px solid;
        }
        &.active {
            font-weight: 500;
            padding-left: 18px;
            border-left: 2px solid;
        }
    }

    // Only display h2 elements
    & > ul > li > ul > li > ul {
        display: none;
    }
}
