h1 {
  font-size: 4.2rem;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 2.28rem;
  margin: 2.85rem 0 1.14rem 0;
}

h3 {
  font-size: 1.96rem;
  margin: 2.45rem 0 0.98rem 0;
}

h4 {
  font-size: 1.64rem;
  margin: 2.05rem 0 0.82rem 0;
}

h5 {
  font-size: 1.32rem;
  margin: 1.65rem 0 0.66rem 0;
}

h6 {
  font-size: 1rem;
  margin: 1.25rem 0 0.5rem 0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

nav.top-nav {
  box-shadow: none;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav.top-nav h1.page-title {
  line-height: 170%;
}

nav.top-nav p.subtitle {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem 0;
}

nav.top-nav a.button-collapse {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 36px;
  z-index: 2;
}

nav.top-nav a.button-collapse.full {
  line-height: 122px;
}

nav.top-nav a.button-collapse i {
  font-size: 32px;
}

@media only screen and (max-width: 992px) {
  nav.top-nav {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  nav.top-nav a.button-collapse {
    left: 5%;
  }
}

ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}

ul.side-nav.fixed li.logo:hover,
ul.side-nav.fixed li.logo #logo-container:hover {
  background-color: transparent;
}

ul.side-nav.fixed {
  overflow: hidden;
}

ul.side-nav.fixed li {
  line-height: 44px;
}

ul.side-nav.fixed li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

ul.side-nav.fixed li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
  padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion {
  background-color: #FFF;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
  padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
  font-weight: 400;
  padding: 0 37.5px 0 45px;
}

ul.side-nav.fixed:hover {
  overflow-y: auto;
}

.bold > a {
  font-weight: bold;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

.toc-wrapper {
  margin-top: 2rem;
  position: relative;
}

nav#TableOfContents {
  background-color: initial;
  box-shadow: initial;
}

nav#TableOfContents li {
  line-height: 1.5rem;
  padding: 2px 0;
  float: initial;
}

nav#TableOfContents a {
  display: inline-block;
  font-weight: 300;
  color: #757575;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
}

nav#TableOfContents a:hover {
  color: #a8a8a8;
  padding-left: 19px;
  background-color: initial;
  border-left: 1px solid;
}

nav#TableOfContents a.active {
  font-weight: 500;
  padding-left: 18px;
  border-left: 2px solid;
}

nav#TableOfContents > ul > li > ul > li > ul {
  display: none;
}

/*# sourceMappingURL=docs.css.map */