{{ define "main" }}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">{{ .Site.Title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">{{ .Site.Params.Slogan | default "Lorem ipsum dolor!" }}</h5>
        </div>
        <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lorem ipsum</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a, cumque iusto! Quos ipsa deleniti exercitationem
                        veniam commodi reiciendis excepturi vero dolores quisquam quod sed, quas ad in unde ullam.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lorem ipsum</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a, cumque iusto! Quos ipsa deleniti exercitationem
                        veniam commodi reiciendis excepturi vero dolores quisquam quod sed, quas ad in unde ullam.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lorem ipsum</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a, cumque iusto! Quos ipsa deleniti exercitationem
                        veniam commodi reiciendis excepturi vero dolores quisquam quod sed, quas ad in unde ullam.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{{ end }}
